<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Digit Recognise</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <div class="heading">
        <h1>Digit Predictor</h1>
    </div>
    <div class="container">
      <div class="input-container">
        <canvas id="draw"></canvas>
        <button class="submit-btn" onClick="onSubmit()" type="submit">
          Predict
        </button>
      </div>
      <div class="answer-container">
        <h1 id="answer"></h1>
      </div>
    </div>
    <script src="{{ url_for('static',filename='script.js')}}"></script>
  </body>
</html>
